

<div class="col-md-4 col-md-offset-1 aboutImg">
    <img src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-ash2/v/t1.0-9/561171_10150915785632592_1683463462_n.jpg?oh=26418307b6fe040504213fd4ea7615af&oe=570A2B9D" alt="" />

</div>
<div class="col-md-4 aboutText">
    <p>
      I came to America from China in 2012. Right now I am living in Portland, Oregon with my husband Alex and my dog Butter.
    </p>
    
    <p>
      Since 2013, I have started to diving into web development and fell in love with it. Following the latest trend in tech industry and crunching code have became my passion since then. My american dream is becoming an awesome engineer in digital world.
    </p>
    
     
</div>

