<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
  <div class="row">

    <div class="col-md-4">
      <img class="aboutImg" src="assets/about/images/about_resized.jpg" alt="" />
    </div>
    <div class="col-md-8 aboutText" >
        <p>
          I came to America from China in 2012 and have been living in PDX since March 2014.
        </p>

        <p>
          I started to gain interest in Web Development in 2015. After graduating from <a href="http://www.epicodus.com/">Epicodus</a>'s Ruby/JavaScript class, I have been working on my <%= link_to "Portfolio", portfolio_path %> site to experiment different languages.
          The new passion I find in Web development fulfills my aspiration for creativity and I get to learn something new everyday.
          I love the feeling that comes from using various web apps and gradually knowing more and more about how they're made and the technologies they use. I get excited each time I come across an app and use the Chrome debugger to figure out it uses AngularJS.
        </p>

        <p>
          In China I worked as a Recruitor and Office Assistant in multi-national corporations. I was on teams that included people Mainland China, Hong Kong, Southeast Asia, India, and Germany. I know what it's like to work with a large variety and I love ot be a team player, enabling others to succeed alongside myself.
        </p>
    </div>
  </div>

</div>
