<div class="mainContent">
  <div class="row">

    <div class="">
      <img class="aboutImg" src="assets/about/images/about_resized.jpg" alt="" />
    </div>
    <div class="aboutText" >
        <p>
          I came to America from China in 2012 and have been living in PDX since March 2014. My American dream is working full time as a software engineer and being good at it.
        </p>

        <p>
          I started to gain interest in Web Development in 2015. The new passion I find in Web development fulfills my aspiration for creativity and I get to learn something new everyday. I love the feeling that comes from using various web apps and gradually knowing more and more about how they're made and the technologies they use.
        </p>

        <p>
          After graduating from <a href="http://www.epicodus.com/">Epicodus</a>'s Ruby/JavaScript class, I have been interning at Chirpify.
        </p>

        <p>
          In China I worked as a Recruitor and Office Assistant in multi-national corporations. I was on teams that included people Mainland China, Hong Kong, Southeast Asia, India, and Germany. I know what it's like to work with a large variety and I love ot be a team player, enabling others to succeed alongside myself.
        </p>
    </div>
  </div>

</div>
