<div class="mainContent aboutPage">
  <div class="aboutImg">
    <img src="assets/about/images/about_resized.jpg" alt="" />
  </div>
  <div class="aboutText">
      <p>
        I came to America from China in 2012 and have been living in PDX since March 2014. My American dream is working full time as a software engineer and being good at it.
      </p>

      <p>
        I became interestd in Web Development in 2015. I love Web Development because it gives me a creative outlet and also allows me to create something useful for people too. I get to learn something new everyday. I love the feeling that comes from using various web apps and gradually knowing more and more about how they're made and the technologies they use.
      </p>

      <p>
        After graduating from <a href="http://www.epicodus.com/">Epicodus</a>'s Ruby/JavaScript class, I have been interning at Chirpify. At first I was only responsible for small bug fixes and additions. Since July I've been responsible for the majority of all frontend code and design. Check out some of my work <a href="/portfolio">here</a>.
      </p>

      <p>
        In China I worked as a Recruitor and Office Assistant for multi-national corporations. I was on teams that included people from Mainland China, Hong Kong, Southeast Asia, India, and Germany. I know what it's like to work with people from many different backgrounds and I love to be a team player, enabling others to succeed alongside myself.
      </p>
  </div>

</div>
