<div class="about">
  <div class="aboutImg">

  </div>
  <div class="aboutText">
    <h1>Hello, My name is Jing Wait</h1>
    <p>
      I come to America from China in 2012. Right now I am living in Portland, Oregon with my husband Alex and my dog Butter.
    </p>
    <p>
      I started to diving in web development in 2013 and fall in love with it. My american dream will be becoming an awesome engineer in digital world.
    </p>
  </div>
</div>
