<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
  <div class="row">
    
    <div class="col-md-4">
      <img class="aboutImg" src="assets/about/images/about_resized.jpg" alt="" />
    </div>
    <div class="col-md-4 aboutText" >
      <span>
        I came to America from China in 2012. Right now I am living in Portland, Oregon with my husband Alex and my dog Butter.
      </span>
      <br/>
      
      <br/>
      
      <span>
        Since 2014, I have started to diving into web development and fell in love with it. Following the latest trend in tech industry and crunching code have became my passion since then. My american dream is becoming an awesome engineer in digital world.
      </span>
    </div>
  </div>
  
</div>