<div class="mainContent">
  <div class="internIntro">
    <h3>Analytics</h3>
    <p>
      When starting the redesign of the Analytics dashboard, I was told to do the layout using CSS Flexbox. I had never used that before and I was nervous. After reading Angular Material's documentation and some experimentation I was able to get a handle on it. It was my first time "learning on the job". I found the supportive office environment and the encouragement from my co workers lead to me learning something much faster than when I was home studying alone.
      <br/>
      <br/>
      Other colleagues of mine did the actual analytic calculations and I worked with them to incorporate the design and functionality of the javascript frontend with the ruby backend. It was quite an experience and one I would love to experience all the time!
    </p>

  </div>
  <div class="internImg">
    <img src="portfolio/analyticImg.png" alt="" />
  </div>

</div>
