<div class="mainContent">
  <div class="internIntro">
    <h3>Analytics</h3>
    <p>
      I did the UI part with Angular material;
    </p>

  </div>
  <div class="internImg">
    <img src="portfolio/analyticImg.png" alt="" />
  </div>

</div>
