<div class="content" id='contact'>
  <div class="">
    <span>Contact me</span>
  </div>

  <div class="">
    <a href="mailto:jingzhaowait@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/lovedoodle"><i class="fa fa-github-alt"></i></a>
    <a href='https://www.facebook.com/jing.zhaofu'><i class="fa fa-facebook-official"></i></a>
    <a href='https://www.linkedin.com/in/jingwait'><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/jing.wait/"><i class="fa fa-instagram"></i></a>
    <a href='https://twitter.com/JingWait'><i class="fa fa-twitter"></i></a>
  </div>


</div>
