<div class="mainContent">
  <div class="internIntro">
    <h3>Moderation Quene</h3>
    <p>
      This project was quite a challenge! The feature existed in a rudimentary form before I began. I was given a few images with the desired design and a few UI elements. I was able to take some creative license with how I designed the filters UI element since that wasn't explicitly designed.
      <br/>
      <br/>
      I really enjoyed this project. It was fun to take the old page and transform it into much more usable and beautiful page. It's now ready for Chirpify's clients to start using!
    </p>
  </div>

  <div class="internImg">
    <img src="portfolio/mod_q_2.png" alt="" />

  </div>
  <div class="internImg">
    <img src="portfolio/mod_q_3.png" alt="" />
  </div>
</div>
