<div class="mainContent">
  <div class="internIntro">
    <h3>Moderation Quene</h3>
    <p>

    </p>
  </div>

  <div class="internImg">
    <img src="portfolio/mod_q_2.png" alt="" />

  </div>
  <div class="internImg">
    <img src="portfolio/mod_q_3.png" alt="" />
  </div>
</div>
