<div class="mainContent">
  <!-- <div class="row"> -->
  <div class="projectDiv">
    <a href="https://angularpizzaplanet.herokuapp.com">
      <div class="projectsImg">
        <img src="portfolio/analyticImg.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Analytics</h3>
        <p>
          A pet project I did with Yeoman/Angular practicing two-way data binding, custom directives, and inline editing.
        </p>
      </div>
    </a>

  </div>

  <div class="projectDiv">
    <a href="https://angularpizzaplanet.herokuapp.com">
      <div class="projectsImg">
        <img src="portfolio/mod_q_2.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Moderation Quene</h3>
        <p>
          A pet project I did with Yeoman/Angular practicing two-way data binding, custom directives, and inline editing.
        </p>
      </div>
    </a>

  </div>
  <div class="projectDiv">
    <a href="https://angularpizzaplanet.herokuapp.com">
      <div class="projectsImg">
        <img src="portfolio/follow_1.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Trigger Create</h3>
        <p>
          A pet project I did with Yeoman/Angular practicing two-way data binding, custom directives, and inline editing.
        </p>
      </div>
    </a>

  </div>

  <div class="projectDiv">
    <a href="https://angularpizzaplanet.herokuapp.com">
      <div class="projectsImg">
        <img src="portfolio/pizza.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Pizza Planet</h3>
        <p>
          A pet project I did with Yeoman/Angular practicing two-way data binding, custom directives, and inline editing.
        </p>
      </div>
    </a>

  </div>

  <div class="projectDiv">
    <a href="https://twittersearchmap.herokuapp.com/#/">
      <div class="projectsImg">
        <img src="portfolio/twittersearch.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Twitter Search</h3>
        <p>
          An Angular and Express project that allows a user to search via keyword for related tweets in PDX and show tweets on Google map.
        </p>
      </div>
    </a>

  </div>


</div>
