<div class="col-md-10 col-md-offset-1">
  <!-- <div class="row"> -->
  <div class="col-md-4 col-xs-12 projectDiv">
    <a href="https://secure-escarpment-26645.herokuapp.com/">
      <div class="projectsImg">
        <img src="portfolio/pizza.png" alt="" />
      </div>
      <div class="projectsText">
        
        <h3>Pizza Planet</h3>
        <p>
          A pet project I did with angular practicing two-way data binding, custom directives, and inline editing.
        </p>
      </div>
    </a>

  </div>

    <div class="col-md-4 col-xs-12 projectDiv">
      <a href="https://lit-headland-93355.herokuapp.com/">
        <div class="projectsImg">
          <img src="portfolio/pawesome.png" alt="" />
        </div>
        <div class="projectsText">
          
          <h3>Pawesome Dogcare</h3>
          <p>
            A rails app using Postgres and the Google Maps API. Modeled after Dogvacay.com
          </p>
        </div>
      </a>
    </div>

    <div class="col-md-4 col-xs-12 projectDiv">
      <a href="https://thawing-cliffs-53689.herokuapp.com/">
        <div class="projectsImg">
          <img src="portfolio/stories.png" alt="" />
        </div>
        <div class="projectsText">
          
          <h3>Traveling Stories</h3>
          <p>
            A static rails app used as Jquery playground. 
          </p>
        </div>
      </a>
    </div>

    
  <!-- </div> -->

</div>
