<div class="mainContent">
  <!-- <div class="row"> -->
  <div class="projectDiv">
    <a href="https://twittersearchmap.herokuapp.com/#/">
      <div class="projectsImg">
        <img src="portfolio/twittersearch.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Twitter Search</h3>
        <p>
          An Angular and Express project that allows a user to search via keyword for related tweets in PDX and show tweets on Google map.
        </p>
      </div>
    </a>

  </div>

  <div class="projectDiv">
    <a href="https://angularpizzaplanet.herokuapp.com">
      <div class="projectsImg">
        <img src="portfolio/pizza.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Pizza Planet</h3>
        <p>
          A pet project I did with Yeoman/Angular practicing two-way data binding, custom directives, and inline editing.
        </p>
      </div>
    </a>

  </div>

    <div class="projectDiv">
      <a href="https://lit-headland-93355.herokuapp.com/">
        <div class="projectsImg">
          <img src="portfolio/pawesome.png" alt="" />
        </div>
        <div class="projectsText">

          <h3>Pawesome Dogcare</h3>
          <p>
            A rails app using Postgres and the Google Maps API. Modeled after Dogvacay.com
          </p>
        </div>
      </a>
    </div>

    <div class="projectDiv">
      <a href="https://thawing-cliffs-53689.herokuapp.com/">
        <div class="projectsImg">
          <img src="portfolio/stories.png" alt="" />
        </div>
        <div class="projectsText">

          <h3>Traveling Stories</h3>
          <p>
            A static rails app used as Jquery playground.
          </p>
        </div>
      </a>
    </div>


  <!-- </div> -->

</div>
