<div class="mainContent">
  <!-- <div class="row"> -->
  <div class="projectDiv">
    <%= link_to(analytics_path) do %>
      <div class="projectsImg">
        <img src="portfolio/analyticImg.png" alt="" />
      </div>
      <div class="projectsText">
        <h3>Analytics</h3>
        <p>
          A design refresh of a consumer facing product I completed as my first feature task for Chirpify.
        </p>
      </div>
    <% end %>
  </div>

  <div class="projectDiv">
    <%= link_to(moderation_path) do %>
      <div class="projectsImg">
        <img src="portfolio/mod_q_2.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Moderation Quene</h3>
        <p>
          New features along with a complete app redesign I completed for Chirpify.
        </p>
      </div>
    <% end %>
  </div>


  <div class="projectDiv">
    <%= link_to(trigger_path) do %>
      <div class="projectsImg">
        <img src="portfolio/follow_1.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Trigger Create</h3>
        <p>
          Complete rewrite and redesign of two feature creation UI elements along with some new features like meta field editing.
        </p>
      </div>
    <% end %>
  </div>

  <div class="projectDiv">
    <a href="https://angularpizzaplanet.herokuapp.com">
      <div class="projectsImg">
        <img src="portfolio/pizza.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Pizza Planet</h3>
        <p>
          A pet project I did with Yeoman/Angular practicing two-way data binding, custom directives, and inline editing.
        </p>
      </div>
    </a>

  </div>

  <div class="projectDiv">
    <a href="https://twittersearchmap.herokuapp.com/#/">
      <div class="projectsImg">
        <img src="portfolio/twittersearch.png" alt="" />
      </div>
      <div class="projectsText">

        <h3>Twitter Search</h3>
        <p>
          An Angular and Express project that allows a user to search via keyword for related tweets in PDX and show tweets on Google map.
        </p>
      </div>
    </a>

  </div>


</div>
