<div class="resumeContainer">
			<div class="header"> Jing Wait </div>
			<div class="subHeader"> Junior Software Engineer</div>
			<div class="subHeader"><a href="mailto:jingzhaowait@gmail.com">jingzhaowait@gmail.com</a></div>
			<div class="subHeader">1-541-636-7552</div>

			<div class="resumeSection">
				<div class="sectionHeader">
					About Myself
				</div>
				<p class="sectionContent">
          My career goal is becoming a profesional web developer, creating great user experience and reliable web apps. 
				</p>
			</div>

			<div class="resumeSection">
				<div class="sectionHeader">
					Expertise
				</div>
				<div class="sectionContent">
					<ul>
            <li>Comfortable utilizing HTML5/CSS to make a sophisticated UI</li>
						<li>Ruby on Rails</li>
						<li>Javascript & jQuery</li>
						<li>Ember</li>
            <li>AngularJS</li>
						<li>Git -- SourceTree/git command-line</li>
						<li>Chrome's developer tools</li>
					</ul>
				</div>
			</div>

			<div class="resumeSection">
				<div class="sectionHeader">
					Experience
				</div>
        <div class="sectionContent">
          <div class="workContent">
  					<div class="companyText">Software Intern at FocusVision (Jan, 2016)</div>
  					 <ul>
  					 	<li>Set up development enviroment for Rails/Ember app</li>
  					 	<li>Refactor rake tasks </li>
  					 	<li>Bugs fixing friday</li>
  					 </ul>
  				</div>
          
          <div class="workContent">
  					<div class="companyText">HR Specialist at Sirona&Philips&OnReal (Jun, 2009 - Jul, 2012)</div>
  					 <ul>
  					 	<li>Hired multiple open positions at a time ranging from positions for manufacturing to department managers</li>
  					 	<li>Oriented new hires and answered questions regarding company culture, policy, and benefits in a cheerful and comfortable way</li>
  					 	<li>Maintained personnel files conform to regulations and auditing procedures</li>
              <li>Found cost effective sources for office equipment, appreciation parties, hotels reservations, and air tickets</li>
  					 </ul>
  				</div>
        </div>
				
			</div>

			<div class="resumeSection">
				<div class="sectionHeader">
					Education
				</div>
        <div class="sectionContent">
          <ul>
            <li>
              <p>Ruby/Ember Coding Bootcamp, Aug-Dec 2015</p>
  						<p>Epicodus, Portland, Oregon</p>	
            </li>
            <li>
              <p>B.S. in Political Science, June 2009</p>
  						<p>Xi'an Internation Study University, Xi'an , Shaan Xi, China</p>
            </li>
          </ul>
										 	
				</div>
			</div>
	</div>