<div class="resumeContainer">
			<div class="header"> Jing Wait </div>
      <div class="centerWrap">
        <div class="subHeader"><a href="https://github.com/lovedoodle">github.com/lovedoodle</a></div>
  			<div class="subHeader"><a href="mailto:jingzhaowait@gmail.com">jingzhaowait@gmail.com</a></div>
  			<div class="subHeader">1-541-636-7552</div>
      </div>


			<div class="resumeSection">
				<div class="sectionHeader">
					About Myself
				</div>
				<div class="sectionContent">
          <span>My career goal is becoming a profesional web developer, creating great user experience and reliable web apps.</span>
				</div>
			</div>

			<div class="resumeSection">
				<div class="sectionHeader">
					Skills
				</div>
				<div class="sectionContent">
					<ul>
            <li>Comfortable utilizing HTML5/CSS to make a sophisticated UI</li>
						<li>Ruby on Rails & Ember Frameworks</li>
						<li>Javascript & jQuery</li>
						<li>Git -- SourceTree/git command-line</li>
						<li>Chrome's developer tools</li>
					</ul>
				</div>
			</div>

			<div class="resumeSection">
				<div class="sectionHeader">
					Experience
				</div>
        <div class="sectionContent">
          <div class="workContent">
  					<div class="companyText">Software Intern at FocusVision (Jan, 2016)</div>
  					 <ul>
  					 	<li>Set up development enviroment for Rails/Ember app</li>
  					 	<li>Refactor rake tasks </li>
  					 	<li>Pair with senior dev on each friday for bug fixing</li>
  					 </ul>
  				</div>

          <div class="workContent">
  					<div class="companyText">Ruby/Javascript Student at Epicodus (Aug - Dec, 2015)</div>
  					 <ul>
  					 	<li>Pair programming building database driven Sinatra/Rails/Ember apps</li>
  					 	<li>Group projects including TwitterBot/Daycare Share </li>
  					 	<li>Pawsome dog boarding app with rails and Google Map api </li>
  					 </ul>
  				</div>

          <div class="workContent">
  					<div class="companyText">HR Specialist at Sirona/Philips/OnReal (Jun, 2009 - Jul, 2012)</div>
  					 <ul>
  					 	<li>Maintain personnel files while conforming to regulations and auditing procedures</li>
  					 	<li>Recruit and orient new hires and answer questions regarding company culture, policy, and benefits in a friendly way</li>
              <li>Find cost effective sources for office equipment, appreciation parties, hotels reservations, and air tickets</li>
  					 </ul>
  				</div>
        </div>

			</div>

			<div class="resumeSection">
				<div class="sectionHeader">
					Education
				</div>
        <div class="sectionContent">
          <ul>
            <li>
              Epicodus, Web Development
            </li>
            <li>
              Xi'an University, B.S. in Political Science
            </li>
          </ul>

				</div>
			</div>
	</div>
