<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 resumeWrap">
	 
	<div class="resumeHeader">
		<h1>Jing Wait </h1>
		<ul id="printResumeContact">
			<li>github.com/lovedoodle</li>
			<li>jingzhaowait@gmail.com</li>
			<li>1-541-636-7552</li>
		</ul>
		<ul id="resumeContact">
			<li><a href="https://github.com/lovedoodle">github.com/lovedoodle</a></li>
			<li><a href="mailto:jingzhaowait@gmail.com">jingzhaowait@gmail.com</a></li>
			<li>1-541-636-7552</li>
		</ul>
	</div>

	<div class="resumeIntro">
		<h2 class="section">About Myself</h2>
		<p>
			My career goal is becoming a profesional web developer, creating great user experiences and reliable web apps.
		</p>
	</div>

	<div class="resumeSkills">
		<h2 class="section">Skills</h2>
		<ul>
			<li>HTML5/CSS</li>
			<li>Ruby on Rails & Ember</li>
			<li>Javascript & jQuery</li>
			<li>AngularJS</li>
			<li>Git</li>
			<li>Chrome's developer tools</li>
		</ul>
	</div>

	<div class="resumeExperiences">
		<h2 class="section">Experiences</h2>
		<div class="">
			<p class="company">Software Intern at FocusVision (Jan, 2016)</p>
			<ul>
				<li>Set up development enviroment for Rails/Ember app</li>
			 	<li>Refactor rake tasks </li>
				<li>import Google Analytic data into ember app</li>
			 	<li>Pair with senior dev on each friday for bug fixing</li>
			</ul>
		</div>
		<div class="">
			<p class="company">Ruby/Javascript Student at Epicodus (Aug - Dec, 2015)</p>
			<ul>
				<li>Pair programming building database driven Sinatra/Rails/Ember apps</li>
			 	<li>Group projects including TwitterBot/Daycare Share </li>
			 	<li>Pawsome dog boarding app with rails and Google Map api </li>
			</ul>
		</div>
		<div class="">
			<p class="company">HR Specialist at Sirona/Philips/OnReal (Jun, 2009 - Jul, 2012)</p>
			<ul>
				<li>Maintain personnel files while conforming to regulations and auditing procedures</li>
			 	<li>Recruit and orient new hires and answer questions regarding company culture, policy, and benefits in a friendly way</li>
	      <li>Find cost effective sources for office equipment, appreciation parties, hotels reservations, and air tickets</li>
			</ul>
		</div>
	</div>

	<div class="">
		<h2 class="section">Education</h2>
		<p>
			Epicodus, Web Development
		</p>
		<p>
			Xi'an University, B.S. in Political Science
		</p>
	</div>
</div>
