<div class="mainContent resumeWrap">

	<div class="resumeHeader">
		<h3>Jing Wait</h3>
		<ul id="printResumeContact">
			<!-- <li>https://jingwait.herokuapp.com/</li> -->
			<li><a href="github.com/lovedoodle">github.com/lovedoodle</a></li>
			<li>jingzhaowait@gmail.com</li>
			<li>1-541-636-7552</li>
		</ul>
		<ul id="resumeContact">
			<!-- <li><a href="https://jingwait.herokuapp.com/">Portifolio</a></li> -->
			<li><a href="https://github.com/lovedoodle">github.com/lovedoodle</a></li>
			<li><a href="mailto:jingzhaowait@gmail.com">jingzhaowait@gmail.com</a></li>
			<li>541-636-7552</li>
		</ul>
	</div>

	<div class="resumeIntro">
		<h3 class="section">About Myself</h3>
		<p>
			I keep great design and user experiences in mind while writing code. I love being a developer because I go into work everyday excited to work with a team of professional creatives and engineers. I'd love to be part of a new team writing great software.
		</p>
	</div>

	<div class="resumeSkills">
		<h3 class="section">Skills</h3>
		<em>Proficient:</em>
		<ul>
			<li>React</li>
			<li>AngularJS/Angular Material</li>
			<li>Javascript/ES6/ES7</li>
			<li>Ruby</li>
			<li>Sinatra</li>
			<li>MySQL</li>
			<li>Git</li>
			<li>HTML/CSS/SCSS</li>
		</ul>

		<em>Experienced with:</em>
		<ul>
			<li>
				NodeJS/Yarn/Webpack
			</li>
			<li>Sidekiq</li>
			<li>
				Heroku
			</li>
			<li>
				MongoDB
			</li>
		</ul>

	</div>

	<div class="resumeExperiences">
		<h3 class="section">Experiences</h3>
		<div class="">
			<p class="company">Front End Developer at Chirpify (June, 2016 - Present)</p>
			<ul>
				<li>Build UI component for Chirpify latest projects with React & NodeJS stack</li>
				<li>
					Responsible for redesign and implementation of <a href="//points.marriottrewards.com">points.marriottrewards.com</a>
				</li>
				<li>
					Go-to developer for client frontend design and feature requests
				</li>
				<li>Responsible for most new features on Chirpify's public and internal sites.</li>
			 	<!-- <li>Implementing designs using flex layout and Angular Material.</li> -->
				<li>Write AngularJS modules/apps and converting old pages to SPA style pages alongside a legacy Sinatra app.</li>
				<li>Experienced in writing RESTful API endpoints to support custom integrations</li>
				<li>Write and Run Custom Scripts for Client Requests, e.g. Campaign Performance Stats</li>
			</ul>
		</div>
		<div class="">
			<p class="company">Ruby/Javascript Student at Epicodus (Aug - Dec, 2015)</p>
			<ul>
				<li>Pair programming building database driven Sinatra/Rails/Ember apps</li>
			 	<li>Group projects including TwitterBot/Daycare Share </li>
			 	<li>Pawsome dog boarding app with rails and Google Map api </li>
			</ul>
		</div>
		<div class="">
			<p class="company">HR Specialist at Sirona/Philips/OnReal (Jun, 2009 - Jul, 2012)</p>
			<ul>
				<li>Maintained personnel files while conforming to regulations and auditing procedures</li>
			 	<li>Recruited new hires and answered questions regarding company culture, policy, and benefits</li>
	      <li>Found sources for office equipment, appreciation parties, hotels reservations, and air tickets</li>
			</ul>
		</div>
	</div>

	<div class="">
		<h3 class="section">Education</h3>
		<p>
			Epicodus, Web Development with Emphasis on Javascript and Ruby
		</p>
		<p>
			Xi'an University, B.S. in Political Science
		</p>
	</div>
</div>
