<div class="mainContent resumeWrap">

	<div class="resumeHeader">
		<h3>Jing Wait </h3>
		<ul id="printResumeContact">
			<li>https://jingwait.herokuapp.com/</li>
			<li>github.com/lovedoodle</li>
			<li>jingzhaowait@gmail.com</li>
			<li>1-541-636-7552</li>
		</ul>
		<ul id="resumeContact">
			<li><a href="https://hirejing.herokuapp.com/">Portifolio</a></li>
			<li><a href="https://github.com/lovedoodle">github.com/lovedoodle</a></li>
			<li><a href="mailto:jingzhaowait@gmail.com">jingzhaowait@gmail.com</a></li>
			<li>1-541-636-7552</li>
		</ul>
	</div>

	<div class="resumeIntro">
		<h3 class="section">About Myself</h3>
		<p>
			Ambitious Web Developer looking to make a meaningful impact on a friendly team.
		</p>
	</div>

	<div class="resumeSkills">
		<h3 class="section">Skills</h3>
		<ul>
			<li>HTML/CSS</li>
			<li>Javascript & jQuery</li>
			<li>AngularJS</li>
			<li>Angular Material</li>
			<li>Ruby</li> <br>
			<li>Responsive Website Development</li>
			<li>Git</li>
			<li>Chrome Developer Tools</li>
		</ul>
	</div>

	<div class="resumeExperiences">
		<h3 class="section">Experiences</h3>
		<div class="">
			<p class="company">Software Intern at Chirpify (June, 2016 - Present)</p>
			<ul>
				<li>Responsible for small builds/bug fixing for the Chirpify customer facing website.</li>
			 	<li>Implementing designs using flex layout and Angular Material.</li>
				<li>Writing AngularJS modules/apps and converting old pages to SPA style pages alongside a legacy Sinatra app.</li>
			 	<li>Working using an agile methodology.</li>
			</ul>
		</div>
		<div class="">
			<p class="company">Ruby/Javascript Student at Epicodus (Aug - Dec, 2015)</p>
			<ul>
				<li>Pair programming building database driven Sinatra/Rails/Ember apps</li>
			 	<li>Group projects including TwitterBot/Daycare Share </li>
			 	<li>Pawsome dog boarding app with rails and Google Map api </li>
			</ul>
		</div>
		<div class="">
			<p class="company">HR Specialist at Sirona/Philips/OnReal (Jun, 2009 - Jul, 2012)</p>
			<ul>
				<li>Maintained personnel files while conforming to regulations and auditing procedures</li>
			 	<li>Recruited new hires and answered questions regarding company culture, policy, and benefits in a friendly way</li>
	      <li>Found cost effective sources for office equipment, appreciation parties, hotels reservations, and air tickets</li>
			</ul>
		</div>
	</div>

	<div class="">
		<h3 class="section">Education</h3>
		<p>
			Epicodus, Web Development with Emphasis on Javascript and Ruby
		</p>
		<p>
			Xi'an University, B.S. in Political Science
		</p>
	</div>
</div>
