<div class="mainContent">
  <div class="internIntro">
    <h3>Follow and Location Trigger Redesign</h3>
    <p>
      After finishing a couple projects there was a lull so I went looking for parts of the platform I could improve. I saw the Follow and Location trigger page wasn't very well designed in its beta state, so I took upon myself to write a list of improvements to be made. I took this list to the team and asked if I could take this on as a project. They said yes so I got to work.
      <br/>
      <br/>
      The first version of the project consisted mostly of text inputs next to each other. I thought an organized table design might make it easier to read and edit many different entries at the same time. I took full advantage of the Angular Material library, including the form controls, form validation for the Save button and its modal dialog features. The save buttons only are enabled when real changes have been made making it seem very professional and polished.
    </p>
    <div class="internImg">
      <img src="portfolio/follow_1.png" alt="" />
    </div>
    <div class="internImg">
      <img src="portfolio/follow_2.png" alt="" />
    </div>
    <div class="internImg">
      <img src="portfolio/follow_3.png" alt="" />
    </div>
  </div>
</div>
