<div class="mainContent">
  <div class="internIntro">
    <h3>Trigger Create</h3>
  </div>
  <div class="internImg">
    <img src="portfolio/follow_1.png" alt="" />

  </div>
  <div class="internImg">
    <img src="portfolio/follow_2.png" alt="" />
  </div>
  <div class="internImg">
    <img src="portfolio/follow_3.png" alt="" />
  </div>
</div>
