
<div class="row indexJumbo">
  <div class="col-md-7 col-md-offset-4">   
    <h1>Hello. My name is Jing Wait and I love writing code and building beautiful sites</h1>   
    <span id='viewWorks'><%= link_to 'View my Work', portfolio_path %></span> 
    
  </div>
</div>
 


 