<div class="" id='indexJumbo'>
  <div class="" id='indexContent'>
    <h1>Hello. My name is <span>Jing Wait</span> and I love building great websites</h1>   
    <span id='viewWorks'><%= link_to 'View my Work', portfolio_path %></span>   
  </div>  
</div>