<div class="welcomeJumbo">
  <div class="mainContent">
    <div class="welcomeBanner">
      <h1>Hello & Welcome</h1>
      <h1>My name is Jing Wait</h1>
      <!-- <h1>I love writing code and building beautiful sites</h1> -->
      <h1>I love building beautiful websites and writing code</h1>
      <span id='viewWorks'><%= link_to 'View My Work', portfolio_path %></span>
    </div>

  </div>


</div>
