/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  box-sizing: border-box;
  // font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #4d4d4d;
  font-weight: normal;
  line-height: 1.5em;
}


//Header CSS
.header {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  ul li {
    display: inline-block;
    line-height: none;
    padding: 30px 30px 30px 0px;
    a {
      color: #b3b3b3;
      text-decoration: none;
      font-size: 20px;
    }
    a:hover {
      color: #ff00ff;
    }
  }
}
//content CSS
.content {
  width: 100%;
  clear: both;
  .mainContent {
    max-width: 1100px;
    margin: 0 auto;
    // width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
  }
}
// footer css
.footer {
  max-width: 1100px;
  // display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  a{
    float: right;
    margin: 10px 0px;

    i {
      font-size: 30px;
      padding: 10px;
      color: #b3b3b3;
    }
    i:hover {
      color: #4d4d4d;
      font-size: 40px;
    }
  }
}

.active a {
  color: #ff00ff !important;
}


// about page css
.aboutPage {
  padding: 10px;
  .aboutImg {
    display: inline-block;
    width: 30%;
    margin-right: 16px;
    img {
      width: 100%;
      height: auto;
    }
    float: left;

  }
  .aboutText {
    display: inline-block;
    width: 60%;
  }

}


// welcome page css

.welcomeJumbo {
  height: 800px;
  background: url("welcome/welcome.jpg");
  background-repeat:no-repeat;
  // background-color: (0,0,0,0.5);
  background-size: cover;
  background-position: bottom;
  position: relative;
  .welcomeBanner {
    width: 60%;
    text-align: right;
    position: absolute;
    right: 40px;
    top: 60px;
    h1 {
      color: white;
      font-size: 40px;
    }
    #viewWorks {
      display: block;
      width: auto;
      margin-top: 20px;
      padding: 15px 20px;;
      float: right;
      background-color: black;
      a {
        font-size: 20px;
        color: white;
        // font-weight: lighter;
      }
      a:hover {
        text-decoration: none;
      }
    }
    #viewWorks:hover {
      background-color: #ff00ff;
      cursor: pointer;

    }
  }



}

// resume page css
#printResumeContact {
  display: none;
}
.resumeWrap {
  font-size: 15px;
  .company {
    margin-bottom: 1px;
    margin-top: 10px;
    font-style: italic;
  }
}
h2 {
  font-size:25px;
}

h3 {
  font-size: 20px;
}

.resumeHeader {
  text-align: center;
  ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    a {
      color: #4d4d4d;
    }
  }
}
.resumeSkills {
  ul li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
  }
}

// portfolio page css

.projectDiv {
  padding: 10px;
  height: 450px;
  a {
    color: #4d4d4d;
    text-decoration: none;
  }
  .projectsImg {
    width: 98%;
    height: 60%;
    img {
      width: 99%;
      height: 99%;
      // max-width: 450px;
      // max-height: 400px;
    }
  }
  .projectsText {
    // max-width: 450px;
  }
}
.projectDiv:hover {
  h3 {
    color: #ff00ff;
  }
  p {
    color: #ff00ff;
  }

}





@media print {
 /* All your print styles go here */
 body {
   font-size: 18px;
   line-height: 1.2em;
 }
 .header, .footer { display: none !important; }
 #resumeContact {
   display: none;
 }
 #printResumeContact {
   display: inline-block;
   margin: 0;
 }
}

// * Extra small devices (phones, less than 768px) */
// * No media query since this is the default in Bootstrap */
@media only screen and (max-width : 480px) {
  .fa.phoneMenu {
    display: none;
  }
  .min-width-768 {
    display: block;
  }

  .mainContent {
    width: 96%;
    margin: 0 auto;
  }

  .aboutPage {
    padding: 20px;
    .aboutImg {
      margin-bottom: 16px;
      width: 98%;
      img {
        width: 100%;
        height: auto;
      }

    }
    .aboutText {
      display: inline-block;
      width: 98%;
    }
  }

 }
/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {
//
// }

/* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {
//
//  }

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {
//
// }
