/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  box-sizing: border-box;
  // font-family: 'Roboto', sans-serif;
  margin: 0 0;
  padding: 0;
  font-size: 18px;
  color: #4d4d4d;
  font-weight: normal;
  line-height: 1.5em;
}

.container {
  width: 100%;
}


// Header navigation
.nav ul li {
  display: inline-block;
  line-height: none;
  padding: 30px 30px 30px 0px;
  a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 20px;
  }
  a:hover {
    color: #4d4d4d;
  }
}

.active a {
  color: #4d4d4d !important;
}


// about page css
.aboutImg {
  width: 100%;
  height: 100%;
  margin: 0 0 10px 0;
  // max-width: 400px;
  // max-height: 500px;
}
.aboutText {
  // max-width: 400px;

}

// welcome page css

.indexJumbo {
  height: 600px;
  background: url("welcome/welcome.jpg");
  background-repeat:no-repeat;
  // background-color: (0,0,0,0.5);
  background-size: cover;
  background-position: bottom;
  padding: 1% 5%;
  span {
    display: block;
    clear: both;
    margin-top: 20px;
    padding: 15px;
    float: right;
    background-color: black;
    a {
      font-size: 20px;
      color: white;
      // font-weight: lighter;
    }
    a:hover {
      text-decoration: none;
    }
  }
  #viewWorks:hover {
    background-color: #ff00ff;
    cursor: pointer;

  }
  h1 {
    // margin-top: 30px;
    text-align: right;
    color: white;
    font-size: 40px;
    width: 60%;
    float: right;
    clear: both;
  }
}

// resume page css
#printResumeContact {
  display: none;
}
.resumeWrap {
  font-size: 15px;
}
h2 {
  font-size:25px;
}

h3 {
  font-size: 20px;
}

.resumeHeader {
  text-align: center;
  ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    a {
      color: #4d4d4d;
    }
  }
}
.resumeSkills {
  ul li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
  }
}

// portfolio page css

.projectDiv {
  padding: 10px;
  height: 450px;
  a {
    color: #4d4d4d;
    text-decoration: none;
  }
  .projectsImg {
    width: 98%;
    height: 60%;
    img {
      width: 99%;
      height: 99%;
      // max-width: 450px;
      // max-height: 400px;
    }
  }
  .projectsText {
    // max-width: 450px;
  }
}
.projectDiv:hover {
  h3 {
    color: #ff00ff;
  }
  p {
    color: #ff00ff;
  }

}

// footer css
#footer {
  a{
    float: right;
    margin: 10px 0px;

    i {
      font-size: 30px;
      padding: 10px;
      color: #b3b3b3;
    }
    i:hover {
      color: #4d4d4d;
      font-size: 40px;
    }
  }
}



@media print {
 /* All your print styles go here */
 body {
   font-size: 18px;
   line-height: 1.2em;
 }
 #header, #footer { display: none !important; }
 #resumeContact {
   display: none;
 }
 #printResumeContact {
   display: inline-block;
   margin: 0;
 }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
// @media only screen and (min-width : 480px) {
//   .fa.phoneMenu {
//     display: none;
//   }
//   .min-width-768 {
//     display: block;
//   }
//
// }
/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {
//
// }

/* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {
//
//  }

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {
//
// }
