/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  height: auto;
  margin-bottom: 50px;
}
#header {
  height: 100px;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
}

#header ul {
  position: absolute;
  top: 40%;
  width: 100%;
}
#logo {
  float: right !important;
  margin-right: 0 !important;
}

#header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;

}

#header ul li a {
  text-decoration: none;
  color: black;
}

#header ul li a:hover {
  text-decoration: underline;
}

/* footer css*/
#footer {
  width: 90%;
  max-width: 900px;
  min-width: 500px;
  margin: 30px auto;
  height: 150px;
  clear: both;
}
#footer a i {
  font-size: 25px;
  margin-left: 10px;
  color: black;
}

#footer div {
  float: right;
}

#indexJumbo {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  background-image: url('http://www.picmet.org/conferences/2005/images/portland3.jpg');
}

#indexContent {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 50%;
  height: 60%;
}

#indexContent h1 {
  text-align: right;
  color: white;
  font-size: 40px;

}

#indexContent span {
  background-color: white;
  color: black;
  padding: 5px;
}

#indexContent #viewWorks {
  width: 200px;
  height: 60px;
  background-color: black;
  float: right;
  margin: 40px 0;
  color: white;
  font-size: 18px;
  font-weight: 100;
  position: relative;
}

#indexContent #viewWorks:hover {
  background-color: #ff66ff;
}

#viewWorks a {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 20px;
  left: 40px;
}
/* contact style*/
.content {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  text-align: right;
}

#contact div {
  font-size: 50px;
  margin-bottom: 40px;
  color: black;
  margin-top: 30px;
}

#contact a i {
  color: black;
  padding: 30px;
  font-size: 80px;
  margin-bottom: 60px;
}

 /*resume page css*/

 .resumeContainer {
 	margin: 0 auto;
 	height: auto;
 	min-height: 500px;
  max-width: 900px;
 }


.resumeContainer {
  font-size: 18px;
}

.sectionContent {

}

.resumeContainer ul {
 	margin: 0px;
 	padding: 0px;
 	padding-left: 50px;
  font-size: 18px;
 }

 .header {
 	font-size: 55px;
 	font-weight: 400;
 	text-align: center;
 }

 .centerWrap {
  text-align: center;
 }

 .subHeader {

  display: inline-block;
  padding: 5px;
  margin-left: 15px;
 }
.subHeader a {
  text-decoration: none;
  color: black;
}
 .resumeContainer {
 	padding: 25px 10px;
 }

 .sectionHeader {
 	font-style: italic;
 	font-size: 25px;
 	margin-top: 20px;
 	border-bottom: 1px solid #BBB;
 	padding-bottom: 5px;
 }

 .companyText {
 	margin-left: 50px;
 	font-style: italic;
 	color: black;
 	font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
 }
.workContent {
  margin-bottom: 20px;
}

 /* about page style*/
.about {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  height: 500px;
}
 .aboutText {
  display: inline-block;
  float: left;
  word-wrap: break-word;
  text-align: right;
  word-wrap: break-word;
  width: 45%;
  height: 80%;

  padding: 10px;
  font-weight: lighter;
 }

 .aboutText h1 {
  font-size: 48px;
  word-wrap: break-word;
  margin-bottom: 20px;
 }

 .aboutText p {
   text-align: left;
   margin-bottom: 15px;
 }

 .aboutImg {
   background-image:url("https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-ash2/v/t1.0-9/561171_10150915785632592_1683463462_n.jpg?oh=26418307b6fe040504213fd4ea7615af&oe=570A2B9D");
   width: 45%;
   height: 80%;
   background-position: center;
   background-size: cover;
   display: inline-block;
   float: left;
   margin-right: 20px;
   padding: 10px;

 }

 /* portfolio css */

 .portfolioJumbo {
   width: 100%;
   margin: 0;
   background-image: url("http://www.legendarylion.com/wp-content/uploads/2016/04/38.jpg");
   height: 500px;
   background-position: center;
   background-size: cover;

 }

.projectsWrap {
  max-width: 900px;
  margin: 40px auto;
  height: auto;
}

.projects {
  width: 48%;
  float: left;
  color: black;
}

.projects.left {
  margin-right: 15px;
}

.projects.right {
  margin-left: 15px;

}
.projectsImg {
  width: 99%;
  height: 60%;
}

.projectsImg img {
  width: 100%;
  height: 100%;
}

.projects h3 {
  margin: 10px 0;
}

.projects p {
  font-weight: lighter;

}

.projects:hover {
  color: #ff99ff;
}
 /* media queries */

 @media screen and (max-width: 500px) {
  .aboutText {
    width: 600px;
  }

}
